<form>{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_row(form.species)}}
    {{ form_row(form.races.species) = "cat" }}
    {% endif %}
    <button type="submit" class="btn create">Enregistrer</button>
{{ form_end(form) }}</form>